body{
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 18px;
	line-height: 25px;
}

header{
	background-color: aliceblue;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 10px;
}

h1, h2{
	font-family: 'Comic Neue', cursive;
}

header h1{
	font-size:50px;
	font-weight: 900;
}

header img {
	
    width: 400px;
    
}

main{
	max-width: 900px;
	margin: 0 auto;
	padding: 20px 20px; 
}

main img {
	max-width: 100%;
}

h2{
	font-size: 30px;
	margin: 40px 0 10px;
}

a:hover{
	color: red;
}

footer{
	background-color: lightgray;
	text-align: center;
	padding: 20px;
}

footer p {
	font-size: 12px;
	margin: 0;
}

p.caption {
	color: #99999;
	font-style: italic;
	font-size: 15px;
	margin-top: 2px;
}